# Build artifacts
book/book/
book/src/quiz/
target/

# Hidden directories
.cpcache/
.nrepl-port
.calva/
.vscode/
.clj-kondo/
.githooks/
.lsp/

# Data
*.bz2
wiki5000

# Papers and docs
seven-concurrency-models-in-seven-weeks*
*.pdf
pdf_*.txt

# Local files
todo.md
local_*.clj
